@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #D57C92;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;   
}

.container {
    background-color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 1280px;
    height: 720px;
    max-width: 100%;
    overflow: hidden;
}

.header {
    background-color: #eee;
    width: 1280;
    padding: 20px;
}

.name-box {
  margin: 16px;
  border-bottom-style: solid;
  border-color: #D57C92;
  border-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.name-panel {
  font-size: 3em;
  font-family: 'Caprasimo', cursive;
  text-align: center;
  line-height: 2.7em;
}

.message-box {
  margin: 16px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.message-panel {
  margin: 0 auto;
  font-size: 3.5em;
  max-height: 100vh;
  text-align: center;
  font-family: 'Caprasimo', cursive;
  position: relative;
}

h2 {
    margin: 0 auto;
    text-align: center;
    font-family: 'Caprasimo', cursive;
    text-align: center;
    color: #D57C92;
    position: relative;
    font-size: 3em;
}

